[submodule "clientMobile"]
	path = clientMobile
	url = https://github.com/DankAvHi/clientMobile.git
[submodule "client-web"]
	path = client-web
	url = https://github.com/DankAvHi/client-web.git
[submodule "server"]
	path = server
	url = https://github.com/DankAvHi/server.git
