[submodule "notes-clientMobile"]
	path = notes-clientMobile
	url = https://github.com/DankAvHi/notes-clientMobile.git
[submodule "notes-client-web"]
	path = notes-client-web
	url = https://github.com/DankAvHi/notes-client-web.git
[submodule "notes-server"]
	path = notes-server
	url = https://github.com/DankAvHi/notes-server.git
